---
title: Markomposition
homeActive: active
---

{% include header.html %}

<div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

            <form>

                <div class="form-group">
                    <label for="textInput">Base Content for Poem:</label>
                    <textarea id="textInput" class="form-control" rows="10"></textarea>
                </div>

                <b>Load text from:</b>

                <div>
                    <button id="dickinson" type="button" class="btn btn-success">Emily Dickinson</button>
                    <button id="dante" type="button" class="btn btn-success">Dante's <i>Divine Comedy</i></button>
                    <button id="grimm" type="button" class="btn btn-success">Grimm's <i>Fairy Tales</i></button>
                </div>

                <br>
                <div class="form-group">
                    <label for="enjambmentInput">Enjambment Level:</label>
                    <label class="radio-inline">
                      <input type="radio" name="enjambmentInput" value="least"> least
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="enjambmentInput" value="medium" checked> medium
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="enjambmentInput" value="most"> most
                    </label>
                </div>

                <div class="form-group">
                    <label for="chainInput">Fusion Level:</label>
                    <label class="radio-inline">
                      <input type="radio" name="chainInput" value="3"> least
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="chainInput" value="2" checked> medium
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="chainInput" value="1"> most
                    </label>
                </div>

            </form>

            <form class="form-inline">

                <div class="form-group">
                    <label for="numWordsInput">Maximum Words:</label>
                    <input type="number" id="numWordsInput" class="form-control" value="100"></input>
                </div>                

            </form>

            <button id="submitBtn" class="btn btn-primary">Generate Poetry!</button>

    </div>
    <!-- /.col -->

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div id="poem"></div>
    </div>

</div>
<!-- /.row -->


{% include footer.html %}      