---
title: Markomposition
homeActive: active
---

{% include header.html %}

<!-- Load the main application script. -->
<script data-main="/markomposition/build/markomposition.min" src="/markomposition/public/vendor/require.js"></script>

<div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

            <form>

                <div class="form-group">
                    <label for="textInput">Base Content for Poem:</label>
                    <img id="feedbackText" src="/markomposition/public/resources/images/execution-feedback-black.gif" />
                    <textarea id="textInput" class="form-control" rows="10"></textarea>
                </div>

                <b>Load text from:</b>

                <div>
                    <button id="dickinson" type="button" class="btn btn-success">Emily Dickinson</button>
                    <button id="dante" type="button" class="btn btn-success">Dante's <i>Divine Comedy</i></button>
                    <button id="grimm" type="button" class="btn btn-success">Grimm's <i>Fairy Tales</i></button>
                </div>

                <br>

                <div class="form-group">
                    <label for="chainInput">Fusion Level:</label>
                    <label class="radio-inline">
                      <input type="radio" name="chainInput" value="3"> least
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="chainInput" value="2" checked> medium
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="chainInput" value="1"> most
                    </label>
                </div>
            </form>

            <div role="tabpanel" class="panel panel-default">

              <!-- Nav tabs -->
              <ul id="formTab" class="nav nav-tabs panel-heading" role="tablist">
                <li id="freeVerseTab" role="presentation" class="active"><a href="#freeVerseOptions" aria-controls="freeVerse" role="tab" data-toggle="tab">Free Verse</a></li>
                <li id="haikuTab" role="presentation"><a href="#haiku" aria-controls="haiku" role="tab" data-toggle="tab">Haiku</a></li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane panel-body active" id="freeVerseOptions">
                    
                    <form>
                        <div class="form-group">
                            <label for="enjambmentInput" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Enjambment Level:</label>
                            <label class="radio-inline">
                              <input type="radio" name="enjambmentInput" value="least"> least
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="enjambmentInput" value="medium" checked> medium
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="enjambmentInput" value="most"> most
                            </label>
                        </div>
                    </form>

                    <form class="form-inline">

                        <div class="form-group">
                            <label for="numWordsInput">Maximum Words:</label>
                            <input type="number" id="numWordsInput" class="form-control" value="100"></input>
                        </div>                

                    </form>

                </div>
                <div role="tabpanel" class="tab-pane" id="haiku">
                    
                    <form class="form-inline">

                        <div class="form-group">
                            <label for="numHaikuInput">Maximum Haikus:</label>
                            <input type="number" id="numHaikuInput" class="form-control" value="3"></input>
                        </div>                

                    </form>

                </div>
              </div>

            </div>

            <button id="submitBtn" class="btn btn-primary">Generate Poetry! <img id="feedbackPoem" src="/markomposition/public/resources/images/execution-feedback-blue.gif" />
        </button>

    </div>
    <!-- /.col -->

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div id="poem"></div>
    </div>

</div>
<!-- /.row -->


{% include footer.html %}      